.banner{
  background-image: url('../img/banner-bg.jpeg');
  background-color: black;
  background-size: cover;
  padding: 8rem 0 12rem;
  h3{
    font-family: 'Satoshi-Regular';
    font-size: 105px;
  }
  p{
    color: #fff;
    font-size: 16px;
    padding: 0 15%;
  }
  .btn-consult{
    background-color: #fff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
  }
}


.trusted-by{
margin-top: -6rem;
padding: 3rem 3rem;
  background-color: #181B5DC9;
  position: absolute;
    width: 100%;
    z-index: 9;
    .equal-spc{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5%;
      img{
        max-width: 120px;
      }
    }
}

.ideas-into-digital{
  background-color: #060b27;
  padding: 14rem 0 6rem 0;
  position: relative;
  z-index: 2;
  background-image: url('../img/1bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  h3{
    font-size: 63px;

  }
 
  .trans-col{

div{
background: #15151566;
padding: 30px;
text-align: center;
color: #fff;
border-radius: 20px;
-webkit-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
-moz-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
h4{
    margin:10px 0 ;
  font-size: 22px;
}
p{
  color: #8F9BB7;
}
}
  }

  .container  {
position: relative;
  }
  .container:before{
  background-image: url('../img/bg-line-right.png');
  position: absolute;
  top: -55%;
  left: 0;
  content: '';
  height: 750px;
  width: 100%;
  background-size: 100%;
background-position:top center;
background-repeat: no-repeat;
z-index: -1;
}
}



.sets-us-apart{
  background-color: #060b27;
  padding:6rem 0;
  position: relative;
  z-index: 2;
  background-image: url('../img/2bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h3{
    font-size: 63px;

  }
  .font-weight-light{font-weight: 300;}
  .trans-col{

h4{
    margin:20px 0 10px 0 ;
  font-size: 22px;
  color: #fff;
}
p{
  color: #8F9BB7;
}

  }
  .container{
    position: relative;
  }
  .container:before{
    background-image: url('../img/bg-line-left.png');
    position: absolute;
    top: -84%;
    left: 0;
    content: '';
    height: 670px;
    width: 100%;
    background-size: 100%;
  background-position:top center;
  background-repeat: no-repeat;
  z-index: -1;
  }
}


.customers-visit{
  background-color: #0e1122;
  padding: 4rem 0;
  border-top:1px solid #8F9BB7 ;
  border-bottom:1px solid  #8F9BB7 ;
  position: relative;
  z-index: 4;
  background-image: url('../img/4bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h3{
    font-size: 63px;
    font-weight: 300;
  }
  p{
    color: #aaa;  
  }
}
.about-us{
  background-color: #060b27;
  padding: 6rem 0;
  position: relative;
  z-index: 2;
  background-image: url('../img/3bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  p{
    color: #FFFFFF;
  }
  h3{
    font-size: 63px;
    font-weight: 300;
  }
  .container{
    position: relative;
  }
  .container:before{
    background-image: url('../img/bg-line-right.png');
    position: absolute;
    top:-75%;
    left: 0;
    content: '';
    height: 750px;
    width: 100%;
    background-size: 100%;
  background-position:top center;
  background-repeat: no-repeat;
  z-index: -1;
  }
  
}

.contact-form{
 

p{
  color: #fff;
}
.trans-col{
  background: #15151566;
padding: 50px;
text-align: left;
color: #fff;
border-radius: 20px;
-webkit-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
-moz-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
background-image: url('../img/form-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
}

.contact-form{
  position: relative;
  z-index: 3;
  .input-group-text{
    background-color: #fff;
    color: #ACB4C3;
    padding: 0 0 0 10px;
  }
  h3{
    font-size: 68px;
  }
  .input-group{
      .form-control{
          border:none;
          padding: 0.8rem .75rem;
      }
      .form-control:focus,.form-control:active,.form-control:hover, button
{
  outline: none;
  box-shadow: none;
}
  }
  button.btn{background-color: #6440D4;
    border: #6440D4;
  
  :hover{
    background-color: #6440D4;
    border: #6440D4;
  }
}
.input-group-text{    border-radius: 5px 0 0 5px;}
}

.testimonials{ 
  background-color: #060b27;
  padding: 6rem 0;
  position: relative;
  z-index: 2;
  background-image: url('../img/quotas-bg.png');
  background-repeat: no-repeat;
    background-position: right;
h3{
  font-size: 63px;
  text-align: center;
  margin: 1rem 0 4rem 0;
}

.trans-col{
  margin-bottom: 15px;

  .name{
      font-weight: 500;
  }
  .para{
    font-size: 14px;
  }
  .maintxt{
    color: #dddddd; 
  }
  .col-wrap{
  background: #15151566;
padding: 20px;
text-align: left;
color: #fff;
border-radius: 20px;
-webkit-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
-moz-box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
box-shadow: -0.3px -0.3px 0px 0.2px rgba(255,255,255,1);
position: relative;
}
.col-wrap::after{
  position: absolute;
  right: 15px;
  top: 15px;
  content: '';
  background-image: url('../img/quotas.png');
  width: 45px;
  height: 33px;

}
}
.container{
position: relative;
}
.container::before{
  background-image: url('../img/bg-line-right.png');
  position: absolute;
  top: -60%;
  left: 0;
  content: '';
  height: 750px;
  width: 100%;
  background-size: 100%;
background-position:top center;
background-repeat: no-repeat;
z-index: -1;
}


}

.ideas-into-digital .container:before,
.sets-us-apart .container:before,
.about-us .container:before,
.testimonials .container::before{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(max-width:1200px)
{
.ideas-into-digital .container:before,
.sets-us-apart .container:before,
.about-us .container:before,
.testimonials .container::before{
  display: none;
}

}

@media(max-width:991px)
{
      .banner{ 
        h3{
          font-size: 60px;
        }
      }
      .testimonials{
        padding: 6rem 0;
      }

      .ideas-into-digital h3, .sets-us-apart h3 , .contact-form h3, .testimonials h3, .about-us h3 {
        font-size: 40px;
    }



    .trusted-by{
    .equal-spc{
            gap: 5%;
            img{
              max-width: 80px;
            }
          }
      }
}

@media(max-width:767px)
{
  .banner{ 
    padding: 8rem 0 8rem;
    h3{
      font-size: 40px;
    }
  }

  
  .trusted-by{
    .equal-spc{
      flex-direction: column;
            gap: 20px;
            img{
              max-width: 120px;
            }
          }
      }
      
  .trusted-by{
    position: relative;margin: 0;
background-color: #060b27;  }
.col-md{
  margin-bottom: 15px;
}
.ideas-into-digital
{
  padding: 5rem 0 0 0;
}
.ideas-into-digital .trans-col div{
  margin-bottom: 15px;
}
.ideas-into-digital .row.mt-4{margin-top: 0 !important;}
.ideas-into-digital h3{margin-bottom: 30px;}
.sets-us-apart{    padding:6rem 0}
.footer{
.copyrights *{
text-align: center !important;
}
.col-md{
  text-align: center !important;
}
  .social-icons{justify-content: center;}
}

}