@font-face {
  font-family: 'Satoshi-Light';
  src: url('../fonts/Satoshi-Light.woff2') format('woff2'),
       url('../fonts/Satoshi-Light.woff') format('woff'),
       url('../fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../fonts/Satoshi-Medium.woff') format('woff'),
       url('../fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Black';
  src: url('../fonts/Satoshi-Black.woff2') format('woff2'),
       url('../fonts/Satoshi-Black.woff') format('woff'),
       url('../fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Satoshi-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #060b27 !important;
}
@media (min-width: 1400px) {

body .container{
  max-width: 1140px;
}
}

*{
  font-family: 'Satoshi-Regular'; 
}

.Satoshi-Regular{
  font-family: 'Satoshi-Medium';
}

.text-right{text-align: right;}
.gradient-text{
  background: linear-gradient(91.16deg, #9795FF 1.74%, #FFFFFF 43.71%, #FFFFFF 61.62%, #BE9FFF 102.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  a{
    color: #fff;
    margin: 0 8px;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,   .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus{
    color: #9795FF;
  }
  
}
.outline-light
{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 15px;

}
.font-weight-light{font-weight: 300;font-family: 'Satoshi-Light';}

.footer{
  background-color: #0e1022;
  padding: 5rem 0 1rem;
  p{
    color: #fff;
  }
  h5{
    font-size: 18px;color: #fff;font-weight: 600;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      margin-top: 8px;
      font-size: 16px;
    }
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .social-icons{
    gap: 15px;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
 .cookies-privacy{
 .privacy-wrapper {
    display: flex;
    padding: 15px 15px;
    gap: 15px;
    background: #0e1122;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    border-top: 1px solid;
  }
  button{
    white-space: nowrap;  
    white-space: nowrap;
    height: 40px;
    border-color: #6440D4;
    color: #fff;
  }
  .accept{
    background-color: #6440D4;
  }
  .reject{
    background-color: transparent;
    border: 1px solid #fff;
    

  }
}
}
.logo{
  width: 180px;
}
.navbar-brand{display: none;}
@media(max-width:1200px)
{
  .d-n-m{display: none;}
  .header {
    .navbar-brand{display: block;}
    container{justify-content: end;}
    button{background: #fff;}
    navbar {padding: 0;}
    .col-2{display: none;}
  .col-8{width: 100% !important;}
  .navbar-expand-lg .navbar-collapse{justify-content: end !important;}
    .navbar-nav  {background-color: #0e1022;}
  }
}

@media(max-width:480px){
  .footer .cookies-privacy .privacy-wrapper{
    display: block;
  }
  .footer .cookies-privacy .accept{
    margin-right: 20px;
  }
}